<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/#">
        <img class="navbar-brand-full" src="/img/brand/faultier.jpg" width="200" height="35" alt="CoreUI Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav flex-grow-1">
   
     @if (User.Identity.IsAuthenticated){
        <li class="nav-item nav-link px-3">
            <a class="nav-link" href="/index"> Workout-Tagebuch </a>
        </li>
      
        <li class="nav-item nav-link px-3">
            <a class="nav-link" href="/AddFitness"> BMI-Rechner </a>
        </li>
        <li class="nav-item nav-link px-3 ">
            <a class="nav-link" href="/Privacy"> Profil </a>
        </li>
    }

    </ul>
    <text>&nbsp;</text>
    

    <partial name="_LoginPartial" />
</header>
 